* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.app-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

form {
    display: flex;
    margin-bottom: 2rem;
}

label {
    font-size: 1.6rem;
    margin-right: 1rem;
}

input[type="text"] {
    flex: 1;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.error {
  color: red;
}
.btn {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-secondary {
    padding: .5rem .7rem;
    font-size: .8rem;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.btn-edit {
    background-color: #33CCCC;
}

.btn-edit:hover {
    background-color: #33AACC;
}

.btn-delete {
    background-color: #d9534f;
}

.btn-delete:hover {
    background-color: #a9534f;
}

.task-list {
    list-style: none;
    margin-bottom: 2rem;
}

.task-list li {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: .5rem;
    margin-bottom: 0.5rem;
}

.pending {
    font-style: italic;
    font-size: 1.2rem;
    color: #aaa;
}

.task-list li:last-child {
    margin-bottom: 0;
}
